<div class="ut-box-3 bg-dark-1">
    <h3 class="ut-title h4 text-center">Liste des joueurs</h3>
    <div class="ut-gap"></div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-default">
                <tr align="center">
                    <th>Pseudo</th>
                    <th>Points</th>
                    <th>Rôle</th>
                    <th>État</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr style="cursor: pointer;" onclick="$(location).attr('href', '/admin/profile/{{nickname}}')">
                        <td>{{nickname}}</td>
                        <td>{{points}}</td>
                        <td><span class="{{role}}">{{pretifyRole role}}</span></td>
                        <td>-</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>